# Dependencies
node_modules/

# Build output
dist/

# Editor / OS
.vscode/*
!.vscode/extensions.json
.idea/
*.swp
.DS_Store
Thumbs.db

# Logs
*.log
npm-debug.log*

# Vite
.vite/

# Env
.env
.env.local
